timezone: Etc/UTC

encoding: utf-8

lang: en-GB

title: Uncomplicated Systems

description: by Samuel Parkinson

author:
  name: Samuel Parkinson

sass:
  sass_dir: _includes
  style: compressed

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post

titles_from_headings:
  enabled: true
  strip_title: true
  collections: true

paginate: 10

paginate_path: "/posts/:num/"

feed:
  path: atom.xml
  posts_limit: 100

plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-titles-from-headings

# Include _headers and _redirects files (normally ignored due to underscore prefix)
include:
  - _headers
  - _redirects

# Exclude Cloudflare Workers files from Jekyll build output
exclude:
  - wrangler.json
  - build.config.json
  - src
  - node_modules
  - Gemfile
  - Gemfile.lock
