timezone: Etc/UTC

encoding: utf-8

lang: en-GB

url: https://uncomplicated.systems

title: Uncomplicated Systems

description: Rough notes on software engineering and stuff by Samuel Parkinson. Written for myself, published online in case they're useful to others.

author:
  name: Samuel Parkinson
  email: samuel.parkinson@hey.com

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      permalink: /:year/:month/:day/:title

titles_from_headings:
  enabled: true
  strip_title: true
  collections: true

plugins:
  - jekyll-titles-from-headings

# Include _headers and _redirects files (normally ignored due to underscore prefix)
include:
  - _headers
  - _redirects

exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - wrangler.jsonc
