---
layout: default
---

{% assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year in years %}
<section aria-labelledby="year-{{ year.name }}">
  <h2 id="year-{{ year.name }}">{{ year.name }}</h2>
  <ul class="posts">
    {% for post in year.items %}
    <li>
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d %b" }}</time>
      <span>
        {% if post.archive_url -%}
        <a href="{{ post.archive_url }}">{{ post.title }}</a> <span class="tag">archive</span>
        {%- else -%}
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        {%- endif %}
      </span>
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
