// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #ffffff;
$header-bg-color: #0f5499;

// Text
$section-headings-color: #007d51;
$body-text-color: #262a33;
$body-link-color: #0f5499;
$body-link-highlight: #ecb606;
$body-link-visited: #231ba4;
$blockquote-text-color: #57575c;

// Borders
$border-color: #dedfe0;
$table-border-color: #dedfe0;
$hr-border-color: #dedfe0;
