/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    line-height: 1.25;
    /* 1. Correct the line height in all browsers. */
    -webkit-text-size-adjust: 100%;
    /* 2. Prevent adjustments of font size after orientation changes in iOS. */
    tab-size: 4;
    /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
    margin: 0 auto;
    /* Remove the margin in all browsers, center horizontally. */
    max-width: 90ch;
    padding: 1rem;
    font-size: 1.25rem;
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Consolas,
        'Liberation Mono',
        Menlo,
        monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
    border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
    padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}

img {
    max-width: 100%;
    height: auto;
}

.highlight .hll {
    background-color: #ffffcc
}

.highlight .c {
    color: #008000
}

/* Comment */
.highlight .err {
    border: 1px solid rgb(136, 56.5, 53)
}

/* Error */
.highlight .k {
    color: #2060df
}

/* Keyword */
.highlight .cm {
    color: #008000
}

/* Comment.Multiline */
.highlight .cp {
    color: #2060df
}

/* Comment.Preproc */
.highlight .c1 {
    color: #008000
}

/* Comment.Single */
.highlight .cs {
    color: #008000
}

/* Comment.Special */
.highlight .ge {
    font-style: italic
}

/* Generic.Emph */
.highlight .gh {
    font-weight: bold
}

/* Generic.Heading */
.highlight .gp {
    font-weight: bold
}

/* Generic.Prompt */
.highlight .gs {
    font-weight: bold
}

/* Generic.Strong */
.highlight .gu {
    font-weight: bold
}

/* Generic.Subheading */
.highlight .kc {
    color: #2060df
}

/* Keyword.Constant */
.highlight .kd {
    color: #2060df
}

/* Keyword.Declaration */
.highlight .kn {
    color: #2060df
}

/* Keyword.Namespace */
.highlight .kp {
    color: #2060df
}

/* Keyword.Pseudo */
.highlight .kr {
    color: #2060df
}

/* Keyword.Reserved */
.highlight .kt {
    color: #2b91af
}

/* Keyword.Type */
.highlight .s {
    color: rgb(136, 56.5, 53)
}

/* Literal.String */
.highlight .nc {
    color: #2b91af
}

/* Name.Class */
.highlight .ow {
    color: #2060df
}

/* Operator.Word */
.highlight .sb {
    color: rgb(136, 56.5, 53)
}

/* Literal.String.Backtick */
.highlight .sc {
    color: rgb(136, 56.5, 53)
}

/* Literal.String.Char */
.highlight .sd {
    color: rgb(136, 56.5, 53)
}

/* Literal.String.Doc */
.highlight .s2 {
    color: rgb(136, 56.5, 53)
}

/* Literal.String.Double */
.highlight .se {
    color: rgb(136, 56.5, 53)
}

/* Literal.String.Escape */
.highlight .sh {
    color: rgb(136, 56.5, 53)
}

/* Literal.String.Heredoc */
.highlight .si {
    color: rgb(136, 56.5, 53)
}

/* Literal.String.Interpol */
.highlight .sx {
    color: rgb(136, 56.5, 53)
}

/* Literal.String.Other */
.highlight .sr {
    color: rgb(136, 56.5, 53)
}

/* Literal.String.Regex */
.highlight .s1 {
    color: rgb(136, 56.5, 53)
}

/* Literal.String.Single */
.highlight .ss {
    color: rgb(136, 56.5, 53)
}

/* Literal.String.Symbol */