:root {
    --font-family: serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    line-height: 1.25;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
}

/*
Sections
========
*/

body {
    font-family: var(--font-family);
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    max-width: 75ch;
    padding: 1rem;
    font-size: 20px;
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
    font-family: monospace;
    font-size: 1rem;
}

/**
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
    border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
    padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}

li {
    margin: 0.25em 0;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    border-left: 4px solid;
    margin: 0;
    padding: 0 0 0 0.8em;
}

header[role="banner"] hgroup h1,
main hgroup h2 {
    margin-bottom: 0;
}

header[role="banner"] hgroup p,
main hgroup p {
    margin-top: 0;
}

.highlight .hll {
    background-color: #ffffcc
}

.highlight .c {
    color: #008000
}

.highlight .err {
    border: 1px solid rgb(136, 56.5, 53)
}

.highlight .k {
    color: #2060df
}

.highlight .cm {
    color: #008000
}

.highlight .cp {
    color: #2060df
}

.highlight .c1 {
    color: #008000
}

.highlight .cs {
    color: #008000
}

.highlight .ge {
    font-style: italic
}

.highlight .gh {
    font-weight: bold
}

.highlight .gp {
    font-weight: bold
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    font-weight: bold
}

.highlight .kc {
    color: #2060df
}

.highlight .kd {
    color: #2060df
}

.highlight .kn {
    color: #2060df
}

.highlight .kp {
    color: #2060df
}

.highlight .kr {
    color: #2060df
}

.highlight .kt {
    color: #2b91af
}

.highlight .s {
    color: rgb(136, 56.5, 53)
}

.highlight .nc {
    color: #2b91af
}

.highlight .ow {
    color: #2060df
}

.highlight .sb {
    color: rgb(136, 56.5, 53)
}

.highlight .sc {
    color: rgb(136, 56.5, 53)
}

.highlight .sd {
    color: rgb(136, 56.5, 53)
}

.highlight .s2 {
    color: rgb(136, 56.5, 53)
}

.highlight .se {
    color: rgb(136, 56.5, 53)
}

.highlight .sh {
    color: rgb(136, 56.5, 53)
}

.highlight .si {
    color: rgb(136, 56.5, 53)
}

.highlight .sx {
    color: rgb(136, 56.5, 53)
}

.highlight .sr {
    color: rgb(136, 56.5, 53)
}

.highlight .s1 {
    color: rgb(136, 56.5, 53)
}

.highlight .ss {
    color: rgb(136, 56.5, 53)
}