@font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url(../fonts/eb-garamond-normal-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url(../fonts/eb-garamond-normal-ext.woff2) format("woff2");
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 400 800;
    font-display: swap;
    src: url(../fonts/eb-garamond-italic-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 400 800;
    font-display: swap;
    src: url(../fonts/eb-garamond-italic-ext.woff2) format("woff2");
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Google Sans Code";
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url(../fonts/google-sans-code-normal-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Google Sans Code";
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url(../fonts/google-sans-code-normal-ext.woff2) format("woff2");
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Google Sans Code";
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
    src: url(../fonts/google-sans-code-italic-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Google Sans Code";
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
    src: url(../fonts/google-sans-code-italic-ext.woff2) format("woff2");
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

:root {
    color-scheme: light dark;

    --h1-size: clamp(2em, 5vw, 2.5em);
    --h2-size: clamp(1.4em, 4vw, 1.5em);
    --h3-size: clamp(1.3em, 2.5vw, 1.4em);
    --h4-size: clamp(1.2em, 2vw, 1.3em);
    --h5-size: clamp(1.1em, 1.6vw, 1.2em);
    --h6-size: 1em;

    --text-color-scheme-light: #000000;
    --text-color-scheme-dark: #ffffff;

    --text-color: light-dark(var(--text-color-scheme-light), var(--text-color-scheme-dark));
    --text-color-muted: light-dark(color-mix(in srgb, var(--text-color-scheme-light) 55%, #ffffff), color-mix(in srgb, var(--text-color-scheme-dark) 70%, #000000));

    --hl-fg: light-dark(#1f2430, #e6ebf2);
    --hl-hll: light-dark(#fff3bf, #2d3a57);

    --hl-comment: light-dark(#5f6b7a, #8b97a8);
    --hl-keyword: light-dark(#1d4ed8, #8ab4ff);
    --hl-type: light-dark(#0f766e, #59d4c8);
    --hl-string: light-dark(#b54708, #ffb86b);
    --hl-error: light-dark(#c62828, #ff6b6b);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    tab-size: 4;
}

body {
    margin: clamp(0rem, 1vw, 1.5rem) 18px 0;
    color: var(--text-color);
    font: normal clamp(18px, 1.6vw, 20px)/1.5 "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size-adjust: 0.4;
}

body> :is(header, main, footer) {
    max-inline-size: 720px;
    margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 0.8em 0.5em;
    line-height: 1.1;
    font-weight: 600;
    text-wrap: balance;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}

p {
    hyphens: auto;
}

a {
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.08em;
}

b,
strong {
    font-weight: bolder;
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 0.75em;
    line-height: 0;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

code,
kbd,
samp,
pre {
    font-family: "Google Sans Code", monospace;
    line-height: 1.2;
    hyphens: none;
}

pre {
    overflow-x: auto;
}

ol,
ul {
    padding-inline-start: 1.5em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

blockquote {
    margin: 0;
    padding-inline: 0.8em;
    font-style: italic;
    quotes: auto;
}

blockquote>p::before {
    content: open-quote;
}

blockquote>p::after {
    content: close-quote;
}

header[role="banner"] hgroup h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

hgroup h2 {
    margin-block-end: 0;
}

hgroup p {
    margin-block-start: 0;
}

hgroup p time {
    color: var(--text-color-muted);
}

iframe[src*="youtube.com/embed/"],
iframe[src*="youtube-nocookie.com/embed/"] {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    border: 0;
}

a[role="doc-noteref"] {
    padding-inline-start: 0.1em;
}

div[role="doc-endnotes"] ol li p {
    margin-block: 5px;
}

.highlight {
    color: var(--hl-fg);
}

.highlight .hll {
    background-color: var(--hl-hll);
}

.highlight :is(.c, .cm, .c1, .cs) {
    color: var(--hl-comment);
}

.highlight .err {
    color: var(--hl-error);
    border: 1px solid var(--hl-error);
}

.highlight :is(.k, .kc, .kd, .kn, .kp, .kr, .cp, .ow) {
    color: var(--hl-keyword);
}

.highlight .ge {
    font-style: italic;
}

.highlight :is(.gh, .gp, .gs, .gu) {
    font-weight: 700;
}

.highlight :is(.kt, .nc) {
    color: var(--hl-type);
}

.highlight :is(.s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss) {
    color: var(--hl-string);
}
