@font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url(../fonts/eb-garamond-normal-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url(../fonts/eb-garamond-normal-ext.woff2) format("woff2");
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 400 800;
    font-display: swap;
    src: url(../fonts/eb-garamond-italic-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 400 800;
    font-display: swap;
    src: url(../fonts/eb-garamond-italic-ext.woff2) format("woff2");
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Google Sans Code";
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url(../fonts/google-sans-code-normal-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Google Sans Code";
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url(../fonts/google-sans-code-normal-ext.woff2) format("woff2");
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

:root {
    color-scheme: light dark;

    --h1-size: clamp(2em, 5vw, 2.5em);
    --h2-size: clamp(1.4em, 4vw, 1.5em);
    --h3-size: clamp(1.3em, 2.5vw, 1.4em);
    --h4-size: clamp(1.2em, 2vw, 1.3em);
    --h5-size: clamp(1.1em, 1.6vw, 1.2em);
    --h6-size: 1em;

    --color-neutral-ink: oklch(0 0 0);
    --color-neutral-paper: oklch(1 0 0);

    --text-color: light-dark(var(--color-neutral-ink), var(--color-neutral-paper));
    --text-color-muted: color-mix(in oklch, var(--text-color) 65%, light-dark(var(--color-neutral-paper), var(--color-neutral-ink)));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    tab-size: 4;
}

body {
    margin: 18px;
    color: var(--text-color);
    font: normal clamp(18px, 1.6vw, 20px)/1.5 "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size-adjust: 0.4;
}

body> :is(header, main, footer) {
    max-inline-size: 720px;
    margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 0.8em 0.5em;
    line-height: 1.1;
    font-weight: 600;
    text-wrap: balance;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}

p {
    margin-block: 18px;
    hyphens: auto;
}

a {
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.08em;
}

b,
strong {
    font-weight: bolder;
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 0.75em;
    line-height: 0;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

code,
kbd,
samp,
pre {
    font-family: "Google Sans Code", monospace;
    line-height: 1.2;
    hyphens: none;
}

pre {
    overflow-x: auto;
}

ol,
ul {
    padding-inline-start: 3ch;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

blockquote {
    margin: 0;
    padding-inline: 3ch;
    font-style: italic;
    quotes: auto;
}

blockquote>p::before {
    content: open-quote;
}

blockquote>p::after {
    content: close-quote;
}

header[role="banner"] hgroup h1 {
    margin-block: 0;
}

hgroup h2 {
    margin-block-end: 0;
}

hgroup p {
    margin-block-start: 0;
}

hgroup p time {
    color: var(--text-color-muted);
}

main ul.posts li {
    display: grid;
    grid-template-columns: 6ch minmax(0, 1fr);
    column-gap: 1ch;
}

iframe[src*="youtube.com/embed/"],
iframe[src*="youtube-nocookie.com/embed/"] {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    border: 0;
}

a[role="doc-noteref"] {
    padding-inline-start: 0.1em;
}

div[role="doc-endnotes"] ol li p {
    margin-block: 5px;
}

.highlight :is(.c, .ch, .cd, .cm, .cpf, .c1, .gl, .go, .kt) {
    color: oklch(0.56 0.03 250);
}

.highlight :is(.cp, .cs, .gr, .gt, .vg) {
    color: oklch(0.58 0.14 25);
}

.highlight :is(.cp, .cs, .gs, .k, .kc, .kd, .kn, .kr, .kv, .kt, .m, .mb, .mf, .mh, .mi, .il, .mo, .mx, .nc, .ne, .nn, .nt, .no, .nf, .fm, .py) {
    font-weight: 700;
}

.highlight :is(.err, .gd) {
    color: oklch(0.57 0.08 10);
}

.highlight :is(.gh, .gu) {
    color: oklch(0.56 0 0);
}

.highlight :is(.gi, .sx) {
    color: oklch(0.55 0.15 140);
}

.highlight :is(.gp, .nd, .w) {
    color: oklch(0.56 0.01 180);
}

.highlight :is(.k, .kc, .kd, .kn, .kr, .kv, .kp, .ow, .sr) {
    color: oklch(0.56 0.12 120);
}

.highlight :is(.m, .mb, .mf, .mh, .mi, .il, .mo, .mx) {
    color: oklch(0.56 0.12 245);
}

.highlight :is(.s, .sa, .sb, .sc, .dl, .sd, .s2, .sh, .s1, .ss) {
    color: oklch(0.57 0.12 55);
}

.highlight :is(.se, .si, .vi) {
    color: oklch(0.58 0.18 300);
}

.highlight :is(.na, .nl, .nv, .vc, .vm, .py, .no) {
    color: oklch(0.56 0.11 230);
}

.highlight :is(.nb, .bp, .nf, .fm) {
    color: oklch(0.56 0.14 245);
}

.highlight :is(.nc, .ne, .nn, .nt) {
    color: oklch(0.58 0.16 330);
}