<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author.name }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    {% if page.url == "/" %}
    <meta name="description" content="{{ site.description | escape }}">
    {% endif %}

    {% if page.collection == "posts" %}
    <meta name="description" content="{{ page.description | default: page.content | strip | newline_to_br | split: "<br />" | first | default: site.description | markdownify | strip_html | escape_once | strip }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#049e68">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    {% if page.collection == "posts" and page.features.twitter %}
    <meta name="twitter:dnt" content="on">
    <meta name="twitter:widgets:link-color" content="#0f5499">
    <meta name="twitter:widgets:border-color" content="#dedfe0">
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endif %}

    <style>
    {%- capture styles -%}
    {%- include styles.scss -%}
    {%- endcapture -%}
    {{- styles | scssify | rstrip -}}
    </style>

    {% if page.collection == "posts" %}
    <link rel="stylesheet" href="{{ "/assets/css/highlight.css?v=" | append: site.github.build_revision | relative_url }}">
    {% endif %}

    <link rel="icon" href="data:,">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header role="banner">
      <h1><a href="/">{{ site.title }}</a></h1>
      <p>{{ site.github.project_tagline }}</p>
    </header>

    <main role="main" id="content">
      {{ content }}
    </main>

    <footer>
      <p>Something wrong? <a href="https://github.com/sjparkinson/uncomplicated.systems{% if page.layout == "post" %}/blob/master/{{ page.path }}{% endif %}">Suggest an edit on GitHub</a>.</p>
    </footer>
  </body>
</html>
