<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author.name }}" />
    <link rel="canonical" href="{{ site.url | append: page.url }}" />

    {% if page.url == "/" %}
    <meta name="description" content="{{ site.description | escape }}">
    {% endif %}

    {% if page.collection == "posts" %}
    <meta name="description" content="{{ page.description | default: page.content | strip | newline_to_br | split: "<br />" | first | default: site.description | markdownify | strip_html | escape_once | strip }}">
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#049e68">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <style>
    {%- capture styles -%}
    {%- include styles.scss -%}
    {%- endcapture -%}
    {{- styles | scssify | rstrip -}}
    </style>

    {% if page.collection == "posts" %}
    <link rel="stylesheet" href="{{ "/assets/css/highlight.css" | relative_url }}">
    {% endif %}

    <link rel="icon" type="image/svg+xml" sizes="any" href="{{ "/assets/icons/" | append: "favicon.svg" | relative_url }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ "/assets/icons/" | append: "favicon.png" | relative_url }}">

    <link rel="alternate" type="application/rss+xml"  href="{{ site.url | append: "/feed.xml" }}" title="{{ site.title }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header role="banner">
      <h1><a href="/">{{ site.title }}</a></h1>
      <p>{{ site.description }}</p>
    </header>

    <main role="main" id="content">
      {{ content }}
    </main>

    <footer>
      <p>Want to get in touch? <a href="mailto:sam.james.parkinson@gmail.com?subject=Uncomplicated Systems">Send me an email</a> or <a href="https://github.com/sjparkinson/uncomplicated.systems/issues/new">open an issue on GitHub</a>.</p>
    </footer>
  </body>
</html>
